<div class="col-sm-6">
  <img src="images/workspace.jpg" alt="">
</div>
<div class="col-sm-6">
  <h1>Enter Student Name and Grades</h1>
  <p>Enter the student's name and grades for the first 4 CSC courses:</p>
  <form class="subscription-form" action="/subscribers/create" method="post">
    <input type="text" name="name" placeholder="Name" autofocus>
    <input type="text" name="grade1" placeholder="CSC141 Grade" required>
    <input type="text" name="grade2" placeholder="CSC142 Grade" required>
    <input type="text" name="grade3" placeholder="CSC240 Grade" required>
    <input type="text" name="grade4" placeholder="CSC241 Grade" required>
    <input type="submit" name="submit">
  </form>
</div>
