<div class="col-sm-6">
  <img src="images/notebook.jpg" alt="">
</div>
<div class="col-sm-6">
  <h1>Welcome!</h1>
  <p> The Internship Approval System will take a student's name and letter grades for the first
    4 CSC courses and compute a partial GPA to determine eligibility.</p>
</div>
